<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Web Documentation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="assets/css/demo.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/vendor/tabs.css">
    <link rel="stylesheet" href="assets/css/vendor/prism.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/application.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700' rel='stylesheet' type='text/css'>
    <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>

    <!-- Navigation Trigger -->
    <a href="#" id="menu-trigger"><i class="fa fa-chevron-right"></i></a>

    <!-- Configuration -->
    <script type="text/template" class="config-template" id="config-template">
      <div class="logo"><img src="assets/images/<%= docs.logo %>" /></div>
      <h1 class="title"><%= docs.title %></h1>
      <p class="info">v<%= docs.version %> - Last Updated <%= docs.last_updated %></p>
    </script>

    <!-- Footer -->
    <script type="text/template" class="footer-template" id="footer-template">
      <p class="copyright"><%= docs.copyright %></p>
    </script>

    <!-- Page Wrapper -->
    <section id="page-wrapper"></section>
    <script type="text/template" class="page-template" id="page-template">
      <section id="sidebar">
        <header id="header"></header>
        <nav>
          <% _.each(docs.sections, function(section, index) { %> 
            <a href="#<%= section.id %>"<% if(section.sub_sections) { %> class="subnav"<% } else { %> class="anchor"<% } %>><i class="fa fa-cog"></i><%= section.title %></a> 
            <% if(section.sub_sections) { %>
              <div class="subnav-container">
              <% _.each(section.sub_sections, function(block, index) { %> 
                <a href="#<%= block.id %>" class="anchor"><i class="fa <%= block.icon %>"></i><%= block.title %></a>
              <% }); %>
              </div>
            <% } %>
          <% }); %>
        </nav>
      </section>

      <section id="content">
        <% _.each(docs.sections, function(section, index) { %> 
          <section id="<%= section.id %>" class="<%= section.id %>-section">
            <header>
              <h2 class="hb"><%= section.title %> <% if(section.sub_title) { %> <span><%= section.sub_title %></span><% } %></h2>
              <p><%= section.copy %></p>
            </header>
            <% _.each(section.sub_sections, function(block, index) { %> 
              <div class="sub-content" id="<%= block.id %>">
                <header>
                  <h3 class="content-title"><%= block.title %></h3>
                  <p><%= block.copy %></p>
                </header>

                <!-- Code Block -->
                <% if (block.code) { %>
                <div class="code-block" id="<%= block.id %>">
                  <pre class="language-scss"><code class="language-scss"><%= block.code %></code></pre>
                </div>
                <% } %>

                <!-- YouTube Block -->
                <% if (block.youtube) { %>
                  <div class="youtube-block" id="<%= block.id %>">
                  <% _.each(block.youtube, function(youtube, index) { %>
                    <div class="youtube-item">
                    <% if (youtube.youtube_copy_before) { %><p class="copy-before"><%= youtube.youtube_copy_before %></p><% } %>
                    <div class="videoWrapper">
                      <iframe width="420" height="300" src="https://www.youtube.com/embed/<%= youtube.embed %>?rel=0&hd=1&showsearch=0&vq=hd720" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <% if (youtube.youtube_copy_after) { %><p class="copy-after"><%= youtube.youtube_copy_after %></p><% } %>
                    </div>
                  <% }); %>
                  </div>
                <% } %>

                <!-- Image Block -->
                <% if (block.image) { %>
                <div class="image-block" id="<%= block.id %>">
                  <% _.each(block.image, function(image, index) { %>
                    <div class="image-item">
                      <% if (image.image_copy_before) { %><p class="copy-before"><%= image.image_copy_before %></p><% } %>
                      <div class="imageWrapper"><img src="<%= image.url %>" /></div>
                      <% if (image.image_copy_after) { %><p class="copy-after"><%= image.image_copy_after %></p><% } %>
                    </div>
                  <% }); %>
                </div>
                <% } %>

              </div>
            <% }); %>
          </section>
        <% }); %>

        <footer id="footer"></footer>
      </section>
    </script>
  
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/vendor/tabs.js"></script>
    <script src="assets/js/vendor/v-accordion.js"></script>
    <script src="assets/js/application.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-43577336-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
